<%- include("partials/header") -%>

<div id="content">
  <div class="container ">
    <div class="top-info-section">
      <div class="row">
        <div class="info-container">
          <h1 class="info-header">More than just</br>shorter links</h1>
          <p class="info-description">Build your brand’s recognition and get detailed</br> insights
            on how your links are performing.</p>
          <button type="submit" name="button" class="btn btn-lg button-form button-large">Shorten it!</button>
        </div>
        <div class="illustation">
          <img class="w-100 illustation" src="images/illustration-working.svg" alt="illustration-working">
        </div>
      </div>
    </div>

  </div>


  <div class="container ">
    <div class="form-content">
      <div class="form-input-button">
        <form class="" action="/" method="post" novalidate>

          <input id="long-link" class="" type="url" name="oldUrl" value="" placeholder="Shorten a link here..." required>
            <span class="error"></span>
          <button type="submit" name="button" class="btn button-form">Shorten it!</button>
        </form>
      </div>
    </div>

  </div>

  <div id="advanced-statistic">
    <div class="container">
      <div class="row box no-gutters">

        <div class="col-md-5 left-box">
          <%oldUrl.forEach(function(url){ %>
          <h5 data-toggle="tooltip" data-placement="top" title="<%= url %>"><%= url.substring(0, 30) %> ...</h5>
          <% }) %>
        </div>
        <div class="col-md-7 right-box">
          <%newUrl.forEach(function(anotherUrl){ %>
          <h5 ><a href="<%= anotherUrl %>" target="_blank"><%= anotherUrl %></a><button value="<%= anotherUrl %>" type="button" name="button" class="button-copy">Copy!</button></h5>
          <% }) %>

        </div>

      </div>

      <div class="cards-advanced-statistic">
        <div class="header-advanced-static">
          <h2>Advanced Statistics</h2>
          <h6>Track how your links are performing across the web with</br>our
            advanced statistics dashboard.</h6>
        </div>
        <div class="cards">
          <div class="border-behind-cards"></div>
            <div class="my-card first-card">
              <div class="icon-top-card">
                <img src="images/icon-brand-recognition.svg" alt="icon-brand-recognition">
              </div>

              <h4>Brand Recognition</h4>
              <p>Boost your brand recognition with each click. Generic links don’t
              mean a thing. Branded links help instil confidence in your content.</p>
            </div>
            <div class="my-card second-card">
              <div class="icon-top-card">
                <img src="images/icon-detailed-records.svg" alt="icon-detailed-records">
              </div>
              <h4>Detailed Records</h4>
              <p>Gain insights into who is clicking your links. Knowing when and where
              people engage with your content helps inform better decisions.</p>
            </div>
            <div class="my-card third-card">
              <div class="icon-top-card">
                <img src="images/icon-fully-customizable.svg" alt="icon-fully-customizable">
              </div>
              <h4>Fully Customizable</h4>
              <p>Improve brand awareness and content discoverability through customizable
              links, supercharging audience engagement.</p>
            </div>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- </div> -->



<%- include("partials/footer") -%>
